torch
jsonline
datasets
git+https://github.com/huggingface/transformers
nltk==3.4.5
tabulate
parallelformers
py-rouge==1.1
dictdiffer
bs4
pymongo
nltk
pandas
scipy
clean-text
unidecode
py2neo
benepar
wikipedia
jsons
more_itertools
fuzzywuzzy
python-Levenshtein
sentence_transformers
jsonlines
streamlit